
// Color variables
$blue: #276296;
$violet: #332e58;
$red: #e75757;
$green: #81c64a;
$white: #ffffff;
$black: #000000;
$gray: #d5d5d5;
$light-gray: #eaeaea;
$soft-gray: #f4f4f4;

// Mediaquery variables
$small: "screen and (min-width: 576px)";
$medium: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$extra-large: "screen and (min-width: 1200px)";

// Font-Family variables
$font-sans: Helvetica, Arial, sans-serif;

// Constant CSS
%border-radius {
  border-radius: 6px;
}