@import "spaces", "functions", "normalize";
@import "fonts";

html {
  font-family: $font-sans;
  font-size: 15px;
  line-height: 1.5;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $gray;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

$width-colum: 5em;
$height-row: 3.6em;

.page__wrapper {
  display: grid;
  grid-template-columns: $width-colum 1fr;
  grid-template-rows: $height-row 1fr;
  grid-template-areas:
  "menu search"
  "menu main";
  height: 100%;
} 

.header__wrapper {
  grid-area: search;
  background-color: $light-gray; 
  width: 100%;
  .header__container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5em 1em;
    box-sizing: border-box;
  }
  .section__side {
    &--left {
      width: 85%;
      height: 100%;
      background-color: $white;
      @extend %border-radius;
      overflow: hidden;
    }
    &--right {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .square__section, .circle__section {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
      }
      .square__section {
        width: 60%;
        padding: 0 1em;
        border-right: 1px solid rgba($black, .2);
      }
      .circle__section {
        width: 40%;
      }
    }
  }
}

.search__wrapper {
  height: 100%;
  .search__container {
    height: 100%;
    display: flex;
    .search__button {
      height: 100%;
      border: none;
      background-color: $violet;
      width: 3em;
      padding: 0.5em;
      box-sizing: border-box;
      @extend %border-radius;
      color: $white;
    }
    .search__input {
      width: 100%;
      border: none;
      padding: 0.5em 1em;
    }
  }
}

.item__square {
  height: 2em;
  width: 2em;
  @extend %border-radius;
  &--blue {
    background-color: $blue;
  }
  &--violet {
    background-color: $violet;
  }
}

.item__circle {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  &--white {
    background-color: $white;
  }
}

.menu__wrapper {
  grid-area: menu;
  height: 100vh;
  background-color: $blue;
  background: filter-gradient($blue, $violet, vertical);
  background-image: (linear-gradient(to top, $blue 0%, $violet 70%));
  position: fixed;
  left: 0;
  top: 0;
  width: $width-colum;
  z-index: 10;
  .menu__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    .menu__section {
      &--top {
        width: 100%;
      }
      &--bottom {
        width: 100%;
        display: flex;
        align-self: flex-end;  
      }
    } 
    .menu-item__wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;
      text-transform: uppercase;
      width: 100%;
      position: relative;
      border-top: 1px solid rgba($white, 0);
      border-bottom: 1px solid rgba($white, 0);
      opacity: 0.6;
      &:hover:not(.js-open) {
        border-top: 1px solid rgba($white, .2);
        border-bottom: 1px solid rgba($white, .2);
      }
      &::before {
        content: '';
        background-color: rgba($violet, 0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
      }
      &:hover::before:not(.js-open) {
        opacity: 1;
      }
      &.js-active {
        opacity: 1;
        background-color: $violet;
        background: filter-gradient($violet, $blue, horizontal);
        background-image: (linear-gradient(to left top, $violet 30%, $blue 100%));
      }
    }
    .menu-item__container {
      padding: 1em;
      box-sizing: border-box;
    }
  }
}

.main__wrapper {
  grid-area: main;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1em;
  grid-template-areas: "box aside"; 
  .main__container {
    grid-area: box;
    background-color: $white;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 27em); 
    grid-template-areas: 
    "BOX1 BOX2 BOX3"
    "BOX4 BOX5 BOX6"
    "BOX7 BOX8 BOX9";
    grid-gap: 1em;
    @extend %border-radius;
    @media#{$extra-large}{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 21em);
    }
    @media all and (-ms-high-contrast:none) {
      & {
        margin-right: 1em;
        grid-template-columns: 1fr 1em 1fr;
        grid-template-rows: 21em 1em 21em 1em 21em 1em 21em;
        @media#{$extra-large}{
          grid-template-columns: 1fr 1em 1fr 1em 1fr;
          grid-template-rows: 21em 1em 21em 1em 21em;
        }
      }
    }
  }
  .aside-content__wrapper {
    grid-area: aside; 
    height: 100%;
    background-color: $white;
    @extend %border-radius;
  } 
}

.main__box {
  width: 100%;
  height: 100%;
  background-color: $soft-gray;
  position: relative;
  @extend %border-radius;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}){
      grid-area: BOX#{$i};
    }
  }
  @media all and (-ms-high-contrast:none) {
    
    &:nth-child(1){
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &:nth-child(2){
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    &:nth-child(3){
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    &:nth-child(4){
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    &:nth-child(5){
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    
  }
  .box__header {
    height: 40%;
    background-color: $light-gray;
    padding: 1.5em 3em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    .box-img__container {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100%;
      width: 100%; 
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .box__content { 
    padding: 1.5em 3em;
    box-sizing: border-box;
  }
  .box__tag {
    width: 8em;
    height: 2em;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0 25px 25px 0;
    position: absolute;
    bottom: 2em;
    left: 0;
    &--red {
      background-color: $red;
    }
    &--green {
      background-color: $green;
    }
  }
}